
extends ../layouts/master

block title
    title List User

block content
    h1 List User 
        a.btn.btn-success.f-right(href="/user/create") Add new

    form.form-inline.ml-auto(action="/user/search" method="GET")
        input.form-control.mr-sm-2(type='search', name="name", placeholder='Search', aria-label='Search', value= query)
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    table.table
        thead
            tr
                th(scope='col') Name
                th(scope='col') Age
                th(scope='col') Actions
        tbody

            if empty
                .alert.alert-dark(role='alert')
                    | User not found
            else
                each user in users
                    tr
                        th(scope='row')= user.name
                        td= user.age
                        td
                            a.btn.btn-info(href="/user/detail/" + user.id) View
